.controls-wrapper {
  width: 50%;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
}

.action-btn {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.action-btn:hover {
  transform: scale(1.1);
}

.play-pause-btn {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  background-color: #0E918C;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: inset -4px -4px 10px #055351, inset 4px 4px 10px 1px #0aada7;
}

.play-pause-btn.active {
  box-shadow: inset -4px -4px 10px #0aada7, inset 4px 4px 10px 1px #055351;
}

.play-pause-btn:hover {
  transform: scale(1.1);
}
